@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    padding-bottom: 60px;
}

.left-header{
    display: flex;
    margin-right: auto;
    font-size: 24px;
    color: #F9faf8;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
    padding: 5px 0px;
}
.left-header > img {
    border-radius: 10px;
    border: 2px solid #1f2937 ;
    max-width: 70px;
    max-height: 70px;
}

.right-header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 30px;
}

.right-header > a {
    text-decoration: none;
    color: #E5e7eb;
    font-size: 18px;
}

.main-text{
    display: flex;
    background-color: #1f2937;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.main-text-info{
    max-width: 500px;

}

.main-text-info > button {
    margin-top: 20px;
    display: block;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 15px;
    border: 1px solid  #3882f6;
    border-radius: 4px;
}

.main-text-info > p {
    display: inline;
    color:#e5e7eb;
}

.main-text-title{
    font-size: 48px;
    font-weight: 900;
    font-family: sans-serif;
    color: #f9faf8;
}

.main-text-image > img{
   max-width: 450px;
   max-height: 450px;
}

.random-info{
    display: flex;
    flex-direction: column;
}

.random-info-title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    font-family: sans-serif;
    color: #1f2937;
}

.random-info-imageContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 80px;
}

.random-info-image > img{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.random-info-image{
    max-width: 200px;
}

.quote{
    background-color: #e5e7eb;
    font-family: italic;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.quote > span{
    display: block;
    font-family: sans-serif;
    font-weight: bold;

}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.call-to-action-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 20px 60px;
    min-width: 600px;
}

.call-to-action-box-text{
    padding: 5px;
    color: #F9faf8;
    margin-right:auto ;
}

.call-to-action-box-text > span{
    font-weight: 800;
    font-family: sans-serif;
}

.call-to-action-box-button{
    margin-left: auto;
}

.call-to-action-box-button > button{
    background-color: #3882f6;
    color: #F9faf8;
    border:2px solid #f9faf8;
    border-radius: 3px;
    padding: 5px 10px;
}

.footer{
    background-color: #1f2937;
    text-align: center;
    color: #F9faf8;
    margin-top: 50px ;
    padding: 20px;
}